*{
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
}
  
html, body {
    width: 100%;
    height: 100%;
}
  
html {
    font-size: calc(100vw / 375 * 10);
}
  
img {
    vertical-align: middle;
}
.BOX{
    width: 100%;
    height: 100%;
    padding: 0;
    display: flex;
    flex-direction: column;
    overflow: hidden;
}

.tosearch{
    width: 100%;
    height: 6rem;
    padding: 1rem 2rem;
    display: flex;
    text-align: center;
    align-content: center;
    font-size: 1.4rem;
    border-bottom: .1rem solid #2b2b2b;
    .searchTp{
        height: 100%;
        flex: 1;
        border-radius: 1rem;

    }
}